.footer {
  background-color: #242726;
  width: 100%;
}

.footer__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  width: 258px;
  height: 103px;
  margin: 68px 0 99px 86px;
}

.footer__email__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 19px;
  line-height: 23px;
  text-align: justify;
  padding: 50px 25px 22px 24px;
}

.email-input {
  outline: none;
  width: 320px;
}

.email-btn {
  padding: 12px 30px 15px 30px;
  border: none;
  cursor: pointer;
  outline: none;
  background: #242726;
  color: #d8d8d8;
  font-family: Open Sans;
  font-size: 19px;
  line-height: 25.87px;
}

.email-input::placeholder {
  color: #bcbaba;
  font-family: Montserrat;
  font-size: 19px;
  line-height: 23px;
  padding: 13px 57px 17px 31px;
}

.form {
  display: flex;
  border: 3px solid #2e8174;
  height: 53px;
  border-radius: 10px;
}

.footer__social-media__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 19px;
  line-height: 23px;
  padding-top: 50px;
  padding-bottom: 22px;
  text-align: center;
}

.footer__social-media__icons {
  display: flex;
  flex-direction: row;
  padding: 22px 0 115px 0;
}

.footer__social-media__icon {
  width: 60px;
  height: 60px;
  padding-right: 24px;
}

.copyright {
  color: #818181;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 12.19px;
  text-align: center;
  background-color: #242726;
  padding-top: 57px;
}

/* tablet */
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .footer__social-media__title,
  .footer__social-media__icons,
  .footer__social-media__icon {
    display: none;
  }

  .footer {
    background-color: #1d1f22;
  }

  .footer__social-media {
    display: none;
  }

  .footer__items {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__logo {
    width: 143px;
    height: 57px;
    margin: 68px auto 99px 48px;
  }

  .footer__email {
    text-align: center;
  }

  .footer__email__title {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
  }

  .email-btn {
    background: #1d1f22;
    font-size: 17px;
    line-height: 23px;
    padding: 12px 28px 15px 28px;
  }

  .email-input::placeholder {
    font-size: 14px;
    line-height: 20px;
    padding: auto;
  }

  .form {
    height: auto;
    margin: 0 220px 0 220px;
    text-align: center;
  }

  .copyright {
    font-size: 10px;
    line-height: 12.19px;
    background-color: #1d1f22;
    padding: 50px 0 0 571px;
    text-align: center;
  }
}

/* mobile */
@media only screen and (max-width: 426px) {
  .footer__social-media__title,
  .footer__social-media__icons,
  .footer__social-media__icon {
    display: none;
  }

  .footer__social-media {
    display: none;
  }

  .footer__logo {
    width: 78px;
    height: 31px;
    margin: 28px 0 32px 50px;
  }
  .footer__items {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__email {
    text-align: center;
  }

  .footer__email__title {
    font-size: 14px;
    line-height: 17.07px;
    text-align: center;
  }

  .email-btn {
    font-size: 14px;
    line-height: 19px;
    padding: 12px 16px 15px 16px;
  }

  .email-input::placeholder {
    font-size: 14px;
    line-height: 20px;
    padding: auto;
  }

  .form {
    height: 42px;
    margin: 0 46px 0 46px;
  }
}
