@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.block {
  position: absolute;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0 100px 100px 0 rgba(236, 236, 236, 0.5);
  top: 1000px;
  right: 95px;
  bottom: 1211px;
  left: 105px;
  display: flex;
}

.block__left {
  width: 45vw;
  height: 70vh;
  color: #000000;
  font-family: Montserrat;
  font-size: 40px;
  text-align: justify;
  line-height: 48.76px;
  margin: 15vh 0 15vh 10vw;
}

.block__right__text {
  padding: 126px 10vw 0 43px;
  width: 35vw;
  height: 210px;
  color: #807f7f;
  font-family: Open Sans;
  font-size: 19px;
  text-align: justify;
  line-height: 25.87px;
}

.block__right__btn {
  background-image: linear-gradient(
    47.99deg,
    #2e8174 0%,
    #30a996 42.53%,
    #00ffd9 100%
  );
  border-radius: 15px;
  width: 150px;
  height: 50px;
  border: none;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 21.79px;
  margin-top: 60px;
}

.block__right {
  text-align: center;
}

.block__right__btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .block {
    width: 80vw;
    height: 436px;
    top: 860px;
    right: 56px;
    bottom: 1536px;
    left: 57px;
    display: block;
  }

  .block__left {
    font-size: 25px;
    line-height: 34.13px;
    width: 529px;
    text-align: center;
    margin: 60px 50px 30px 50px;
    height: 68px;
  }

  .block__right__text {
    padding: 0 20px 30px 20px;
    height: 138px;
    color: #807f7f;
    font-family: Open Sans;
    font-size: 17px;
    line-height: 23.15px;
    text-align: justify;
    width: 565px;
  }

  .block__right__btn {
    border-radius: 7px;
    width: 144px;
    height: 50px;
    border: none;
    font-family: Open Sans;
    font-size: 15px;
    line-height: 20px;
    margin-top: 0px;
  }
}

/* mobile */
@media only screen and (max-width: 426px) {
  .block {
    width: 80vw;
    height: 424px;
    top: 684px;
    right: 36px;
    bottom: 1232px;
    left: 40px;
    display: block;
  }

  .block__left {
    height: 62px;
    font-size: 18px;
    line-height: 21.94px;
    width: 265px;
    margin: 40px auto 16px min(16px);
  }

  .block__right__text {
    padding: 0 30px 30px 40px;
    width: 237px;
    height: 209px;
    color: #807f7f;
    font-size: 14px;
    line-height: 19.07px;
  }

  .block__right__btn {
    width: 111px;
    height: 37px;
    font-size: 12px;
    line-height: 16.34px;
    margin-top: 0px;
  }
}
