@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.conclusion {
  text-align: center;
  position: relative;
}

.trait {
  width: 181px;
  height: 60px;
  margin: 459px auto 45px 106px;
}

.conclusion__title {
  color: #000000;
  font-family: Montserrat;
  font-size: 40px;
  line-height: 48.76px;

  text-align: justify;
  padding: 0 200px 70px 200px;
}

.conclusion__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
}

.conclusion__btn {
  background-image: linear-gradient(
    47.99deg,
    #2e8174 0%,
    #30a996 42.53%,
    #00ffd9 100%
  );
  border-radius: 15px;
  width: 297px;
  height: 50px;
  border: none;
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 19px;
  margin: 70px auto 75px auto;
}

.conclusion__btn:hover {
  cursor: pointer;
}

/* tablet */

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .trait {
    width: 97px;
    height: 32px;
    margin: auto;
    margin: 405px auto 45px 58px;
  }

  .conclusion__title {
    font-size: 28px;
    line-height: 34.13px;
    text-align: center;
    padding: 0 112px 0px 112px;
  }

  .conclusion__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .conclusion__btn {
    width: 267px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
    margin: 55px auto 75px auto;
  }
}

/* mobile */
@media only screen and (max-width: 426px) {
  .container {
    text-align: center;
  }

  .trait {
    width: 55px;
    height: 19px;
    margin-top: 309px;
    margin-left: 0;
  }

  .conclusion__title {
    font-size: 18px;
    line-height: 21.94px;
    text-align: center;
    padding: 30px 26px 15px 39px;
  }

  .conclusion__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .conclusion__btn {
    width: 267px;
    height: 50px;
    border: none;
    font-size: 15px;
    line-height: 20px;
    margin: 55px auto 75px auto;
  }
}
