@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.discover {
  background-color: #242726;
  height: 1037px;
  position: relative;
}

.discover__font {
  height: 1037px;
  position: absolute;
  right: 0;
  width: 50vw;
}

.discover__text-container {
  padding: 250px 659px 565px 120px;
}

.discover__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 58px;
  line-height: 70.7px;
  width: 637px;
  height: 222px;
}

.discover__text {
  color: #bfbebf;
  font-family: Open Sans;
  font-size: 19px;
  text-align: justify;
  line-height: 25.87px;
  margin: 15px 150px 0 0;
  width: 487px;
  height: 152px;
}

.discover__btn {
  border: 3px solid #2e8174;
  border-radius: 15px;
  width: 150px;
  height: 56px;
  background-color: #242726;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  line-height: 21.79px;
  padding: 17px 23px 17px 23px;
  margin: 31px 214px 0 123px;
}

.discover__btn:hover {
  cursor: pointer;
}
/* media */
/* tablet */

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .discover {
    background-color: #1d1f22;
    height: 832px;
  }

  .discover__font {
    height: 832px;
    width: 376px;
  }

  .discover__text-container {
    padding: 189px 331px 460px 53px;
  }

  .discover__title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 50px;
    line-height: 60.95px;
    width: 384px;
    text-align: left;
    height: 183px;
  }

  .discover__text {
    font-size: 17px;
    line-height: 23.15px;
    width: 384px;
    text-align: justify;
    margin: 4px 327px 0 0;
    height: 161px;
  }

  .discover__btn {
    width: 138px;
    height: 49px;
    background-color: #1d1f22;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 20px 15px 20px;
    margin: 20px 148px 0 155px;
  }
}

/* mobile */
@media only screen and (max-width: 426px) {
  .discover {
    background-color: #1d1f22;
    margin-top: 0;
    height: 730px;
  }

  .discover__font {
    height: 730px;
    width: 80vw;
    z-index: 0;
  }

  .discover__text-container {
    padding: 143px 29px 0 40px;
  }

  .discover__title {
    font-size: 40px;
    line-height: 48.76px;
    width: 306px;
    height: 147px;
  }

  .discover__text {
    font-size: 14px;
    line-height: 19.07px;
    width: 298px;
    margin: 5px 37px 0 0;
    height: 131px;
  }

  .discover__btn {
    width: 108px;
    height: 37px;
    background-color: #1d1f22;
    font-size: 9px;
    line-height: 16.34px;
    padding: 10px 15px 10px 15px;
    margin: 0 124px 0 90px;
  }
}
